*
{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

header
{
    margin: 20px 140px;
    width: 1140px;
    height: 158px;
    background: #7e7e7e;
}

header image
{
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    right: 0;
}